*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.video-container{
    text-align: center;
    margin-
}

.video-container h2{
    margin-bottom: 2em;
    /* background-color: #edf7f6; */
    color:#FFABB6;
    padding: 0em 20em;
}